.card {
  margin-bottom: 4rem;
  background-color: rgb(247, 247, 247);
  height: 100%;
  text-align: center;
}


.apartment-filter{
  text-align: center;
}
/* 
.apartments{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: flex-start;
  height: 0%
}

.card{
  flex-basis:30%;
  background-color: #fff; 
}

.my-collapse-content {
  background-color: #fff; 
  transform-origin: top;
  transform: scaleY(0); 
  transition: transform 0.3s ease-in-out; 
}


@media (max-width: 768px) {
  .card {
      flex-basis:90%; 
  }
}

.apartment-filter table tbody tr {
  text-align: left;
  margin-bottom: 10px;
}

tr{
  background-color: #fff;
}
span{
  background: #fff;
  background-color: #fff;
  font-weight: 'bold';
}
#div-button{
  margin: 20px;
  background-color: white;
}
#Button{
  background-color: rgb(255, 244, 231);
  border-style: solid;
  border: "2px solid #95532F";
  box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
} */
