.card {
  margin-bottom: 4rem;
  background-color: rgb(247, 247, 247);
  height: 100%;
  text-align: center;
}

.apartment-filter{
  text-align: center;
}
.apartments{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: flex-start;
  height: 0%
}

.card{
  flex-basis:30%;
  background-color: #fff; 
  /* position: relative; Set the position to relative for proper positioning */

}

.my-collapse-content {
  /* position: absolute; Position the content absolutely */
  /* z-index: 999; Set a high z-index value to ensure it appears above other elements */
  background-color: #fff; /* Set a background color if needed */
  transform-origin: top;
  transform: scaleY(0); /* Start with the content collapsed */
  transition: transform 0.3s ease-in-out; /* Adjust the animation duration as needed */
}


@media (max-width: 768px) {
  .card {
      /* Override the display property for mobile screens */
      flex-basis:90%; 
      /* Add any other mobile-specific styles here */
  }
}

.apartment-filter table tbody tr {
  /* display: block; */
  text-align: left;
  margin-bottom: 10px;
}

/* Media query to switch to horizontal layout for larger screens */
/* @media (min-width: 768px) {
  .table{
    display: table-row;
  }
} */
tr{
  background-color: #fff;
  /* background-color: #ffffff; */

  /* style={{backgroundColor: "white"}} */
}
span{
  background: #fff;
  background-color: #fff;
  font-weight: 'bold';
  /* style={{backgroundColor: "white"}} */
}
#div-button{
  margin: 20px;
  background-color: white;
}
#Button{
  background-color: rgb(255, 244, 231);
  border-style: solid;
  border: "2px solid #95532F";
  box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
}
