* {
    margin: auto;
    /* background-color: rgb(255, 244, 231); */
}

.cards {
    display: flex;
    margin: 8%;
}

@media (max-width: 768px) {
    .cards {
        /* Override the display property for mobile screens */
        flex-direction: column;
        /* Add any other mobile-specific styles here */
    }
}

.card {
    border-style: solid;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.15s ease-in-out;
    /* Add a smooth transition effect */
}

#card1:hover {
    transform: scale(1.1);
    /* Increase the size on hover */
}

#card2:hover {
    transform: scale(1.1);
    /* Increase the size on hover */
}