#form-host{
  background-color: rgb(255, 244, 231);
  border-style: solid;
  border-color: brown;
  border-radius: 4px;
}
.host-wrap{
  text-align: center;
  background-image: url("../images/img4.jpg");
  background-size: cover;
}
 @media screen and (max-width: 768px) {

.form-check{
  margin: 10px;
}
#checkboxes{
  display: flex;
  flex-direction: column;
}
.host-wrap{
  background-image: none
}
#form-host{
  border: none;
}
} 