.wrap {
  background-image: url("../images/img4.jpg");
  background-size: cover;
  height: calc(100% + 50px);

}

/* .container{
  border-style: solid;
  border-color: brown;
} */

.form-group {
  
  padding-right: 4vw;
  padding-top: 1.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  margin-left: 10px;
}

#label{
  margin-right: 2vw;

}


.radio-buttons {
  /* display: flex; */
  display: block;
  align-items: center;
}

.radio-buttons label,
.radio-buttons input {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .form-group {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: flex-start;
  }

  label {
    margin-left: 0; /* Remove left margin on labels */
    margin-top: 10px; /* Add top margin for spacing between label and input */
  }

  #label {
    margin-right: 0; /* Remove right margin on #label */
  }

  .radio-buttons {
    margin-top: 10px; /* Add top margin for spacing between radio buttons */
  }

  .radio-buttons label,
  .radio-buttons input {
    margin-right: 0; /* Remove margin between radio buttons on small screens */
  }
}