.wrap {
  background-image: url("../images/img4.jpg");
  background-size: cover;
  height: calc(100% + 50px);

}


.form-group {
  
  padding-right: 4vw;
  padding-top: 1.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  margin-left: 10px;
}

#label{
  margin-right: 2vw;

}


.radio-buttons {
  /* display: flex; */
  display: block;
  align-items: center;
}

.radio-buttons label,
.radio-buttons input {
  margin-right: 10px;
}

